@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap");
/* Start Global Rools */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rools */

/* Start viewer */
.head {
  position: relative;
  display: flex;
}
header .viewer {
  position: relative;

  min-height: 100vh;
  width: 100%;
  transition: all 0.5s linear;
}
header .viewer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    transparent,
    transparent,
    transparent,
    transparent
  );
  z-index: 10000000000;
}
@media (min-width: 992px) {
  header .viewer.active {
    width: 70%;
  }
}

header .viewer .slide {
  background: var(--img) no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
  min-height: 100vh;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
header .viewer .slide.active {
  opacity: 1;
  z-index: 1000;
}
header .viewer .slide .text {
  position: absolute;
  color: #fff;
  padding: 20px;
  bottom: 0;
}
header .viewer .slide .text h3 {
  margin-bottom: 15px;
  font-size: 19pt;
  font-weight: normal;
}
header .viewer .slide .text p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
header .controls {
  color: #fff;
}
header .controls div {
  position: absolute;
  top: 50%;
  width: 6em;
  height: 6em;
  margin-top: -3em;
  background-image: var(--img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1000000000000000;
}
header .controls ion-icon {
  font-size: 40px;
  font-weight: 100;
}
header .controls .next,
header .controls .toggle {
  right: 3%;
}
header .controls .toggle.close {
  background: url(../img/close.svg);
}
header .controls .prev {
  rotate: -180deg;
}
header .controls .toggle {
  top: 40px;
  width: 4em;
  height: 4em;
}
/* End viewer */

/* Start Sild Bar */
.side-bar {
  background: #fff;
  padding: 0 10px;
  position: absolute;
  width: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  overflow: auto;
  transition: all 0.5s linear;
  opacity: 0;
  z-index: 10000000000000000000000000;
}
.side-bar.active {
  width: 30%;
  opacity: 1;
}
.side-bar .title h1 {
  text-align: right;
  color: #333;
}
.side-bar .info {
  color: #aaa;
  text-align: right;
}
.side-bar a {
  text-decoration: none;
  color: #180082;
}

.side-bar .info .social {
  display: flex;
  gap: 10px;
  margin: 25px 0;
  justify-content: right;
  font-size: 25px;
}

.side-bar .slide-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.side-bar .slide-control .img {
  width: 49%;
  cursor: pointer;
}
.side-bar .slide-control img {
  width: 100%;
}
.side-bar .copy {
  color: #aaa;
  text-align: center;
  padding: 15px 0;
}
.side-bar .copy {
  font-size: 10pt;
}
@media (max-width: 559px) {
  .side-bar.active {
    width: 70%;
  }
}
@media (max-width: 991px) {
  .side-bar.active {
    position: absolute;
    width: 40%;
  }
  .slide-control .close {
    position: absolute;
    top: 12px;
    width: 45px;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
  .side-bar.active {
    position: relative;
  }
  .slide-control .close {
    display: none;
  }
}
/* End Sild Bar */
